body { 
    font-family: Arial, sans-serif;
   line-height: 1.6; 
   margin: 0;
   padding: 0;
   background-color: #f2f2f2;
   color: #333;
 } 

 header {
   background: linear-gradient(to right,#005f99,#007acc);
   color: white;
   padding: 20px 0;
   text-align: center;
 }

 nav {
   background-color: #005f99;
   text-align: center;
   padding: 10px 0;
 }

 nav a {
   color: white;
   text-decoration: none;
   margin: 0 15px;
   font-weight: bold;
 }

 section {
   padding: 20px;
   max-width: 1000px;
   margin: auto;
   transition: transform 0.3s ease;
 } 
 section :hover{
    color:#007acc;
 }

 h2 {
   color: #007acc;
   border-bottom: 2px solid #007acc;
   padding-bottom: 5px;
 }

 .skills, .projects, .education, .contact {
   background-color: white;
   padding: 15px;
   margin-top: 20px;
   border-radius: 8px;
   box-shadow: 0 0 8px rgba(0,0,0,0.1);
 }

 ul {
   list-style-type: square;
   padding-left: 20px;
 }

 footer {
   text-align: center;
   background-color: #007acc;
   color: white;
   padding: 10px 0;
   margin-top: 40px;
 }
